<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.example.ex.lesson06.ajax02.User2DAO">
	<select id="existNewUserByName" parameterType="string" resultType="boolean">
		SELECT
			COUNT(1)
		FROM
			`user`
		WHERE
			`name` = #{name}
	</select>
</mapper>